/* Form */

body {
    background: #eee;
}

div {
    width: 800px;
    height: 500px;
    background-color: #fff;
}

.container {
    width: 700px;
    height: 350px;
    background-color: #fff;
}

.border {
    position: relative;
    border: 1px;
    border-color: black;
    border: 2px solid;
}

.retanguloVert{
    margin-left: 25%;
    background: rgb(38, 38, 143);
    width: 13%;
    height: 40%;
}

.retanguloHor{
    background: rgb(38, 38, 143);
    width: 100%;
    height: 20%;
}

.circulo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}

.centro {
    margin-top: -38px;
    margin-left: 248px;
    position: absolute;
    width: 325px;
}

.preto {
    background-color: #000;
}

.vermelho {
    background-color: red;
}
.amarelo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.branco {
    background-color: #fff;
}

.alemanha {
    height: 166px;
}

.quadradoGrande {
    position: absolute;
    width: 200px;
    height: 200px;
}

.quadradoPequeno {
    width: 80px;
    height: 80px;
    float: left;
}

.retanguloGrande {
    width: 100%;
    height: 40px;
}

.borderRight {
    border-right: 40px solid white;
}

.borderLeft {
    border-left: 40px solid white;
}

.borderTop {
    border-top: 40px solid white;
}

.borderBottom {
    border-bottom: 40px solid white;
}