/* General */
body {
    background-image: linear-gradient(to right, #FFEB68, #38618C);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 16px;
    color: #38618C;
}

.vermelho {
    background:rgb(211, 13, 23);
}

.amarelo {
    background: #FFEB68;
}

.terminal {
    margin-top: 30px;
    padding-top: 5px;
    margin-left: 28px;
    background: radial-gradient(#008000, #007000, #004000);
    color: black;
    width: 80%;
    height: 80%;
    text-align: justify;
    box-sizing: border-box;
    border: 15px solid rgb(183, 188, 194);
}

.pesquisaId {
    margin-left: 4px;
    background-color:#FFEB68;
    color: #38618C;
    width: 40px;
    height: 40px;
}

.estouComSorte {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFEB68;
    line-height: 40px;
}

.cabecalhoNome {
    margin-left: 2px;
    width: 99%;
    height: 30px;
    border: 2px solid #38618C;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
}

.cabecalhoNome h1{
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #CF1259;
    margin: 0 auto;
    margin-top: 5px;
    text-transform: uppercase;
}


.img {
    background: radial-gradient(#008000, #007000, #004000);
    width: 150px;
    height: 140px;
    margin-top: 5px;
    margin-left: 20%;
    margin-bottom: 20px;
    border: 15px solid rgb(183, 188, 194);
}

.img img {
    vertical-align: middle;
    width: 100%;
}

.border-radius {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 14px #38618C;
}

ul li {
    list-style: none;
    margin-left: -20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 16px;
    color: black;
}

ul p {
    margin: 0;
    margin-left: -39px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 16px;
    color: black;
}

ul,
li,
p {
    margin-left: 15px;
    margin-bottom: 2px;
    margin-top:2px;
    text-transform: capitalize;
}

.table {
    width: 100%;
    height: 100%;
}

.table {
    display: table;
}

.text-center {
    text-align: center;
}

.container {
    width: 650px;
    margin: 0 auto;
    padding-left: 15px; 
    padding-right: 15px;
    box-sizing: border-box;
}

.col {
    float:left;
    box-sizing: border-box;
}

.col-100 {
    width:100%;
    border: 1px solid #38618C;
}

.col-50 {
    width:46%;
    height: 355px;
    border: 8px outset #38618C;
    margin-left: 2px;
}

.row {
    margin: 0 -15px;
    margin-top: 40px;
    height: 360px;
}

.row:before,
.row:after {
    content:'';
    display: table;
    clear: both;
}

.botao {
    background-image: url("../img/logo.png");
    background-size: 30px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #38618C;
    border-radius: 40px;
    box-shadow: 0 0 8px #38618C;
    display: inline-block;
}

.azul {
    background-color: #38618C;
}