/* about us */

.article-list2 {
    padding: 20px 0 0;
    margin: 20px 0 0;
    list-style: none;
}

.article-list2 p {
    min-height: 250px;
}

.article-list2 h4 {
    margin-top: 15px;
}

.article-list2 li {
    margin-bottom: 30px;
}