/* Buttom */

.buttom {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    margin: 0;
    color: #fff;
    transition: background 0.2s ease-in-out 0s, transition 0.2s ease-in-out 0s;
    border:none;
    cursor:pointer;
}

.buttom:hover {
    transform: scale(1.1);
}

.buttom-blue {
    background: #0f7afd;

}

.buttom-blue:hover {
    background: #005bca;
}

.buttom-blue:active {
    background: #009bca;
}

.buttom-green {
    background: #34ae49;
    
}
.buttom-green:hover {
    background: #2c963e;
} 

.buttom-green:active {
    background: #68962c;
}