.InfoSerie {
    text-align: justify;
    font-size: 12px;
    line-height: 16px;
    display: inline;
}

.Cards {
    float: left;
    width: 300px;
    height: 165px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-right: 15px;
    box-shadow: 0 0 5px #282c34;
}

.TituloSerie {
    width: 100%;
    height: 40px;
    color: #ededed;
    background-color: #282c34;
    margin: 0;
    padding: 0;
    margin-top: -44px;
}

.ImagemSerie {
    width : 300px;
    height: 165px;
}