/* Banner */

.banner {
    position: relative;
    color: #fff;
    text-shadow: 0 0 20px rgba(0,0,0,0.9);
    background: url("../img/banner.jpg") no-repeat center bottom / cover;
}


.banner:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    opacity: 0.7;
    background: -moz-linear-gradient(-45deg,  #028B95 0%, #EDDD34 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #028B95 0%,#EDDD34 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #028B95 0%,#EDDD34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#028B95', endColorstr='#EDDD34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.banner .container {
    position: relative;
    z-index: 2;
    height: 80vh;
}

.banner h1 {
    font-size: 82px;
    line-height: 82px;
    color: #EDDD34;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: -20px;
}

.banner p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: italic;
    line-height: 32px;
}