/* Contact */
.field {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.field {
    min-height: 200px;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.form label {
    font-size: 16px;
    line-height: 20px;
    color: #34ae49;
}

.form p {
    font-size: 14px;
    line-height: 18px;
    color: #666;
}

.form h2 {
    font-size: 20px;
    line-height: 24px;
    color: #555;
}

::placeholder {
    color: #9fc7f8;
}

:-ms-input-placeholder {
    color: #9fc7f8;
}

:-webkit-input-placeholder {
    color: #9fc7f8;
}

.field:focus {
    border-color: #0f7afd;
}