/* Section */
.container {
    width: 80%;
    margin: 0 auto;
    padding-left: 15px; 
    padding-right: 15px;
    box-sizing: border-box;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.col {
    padding:2px;
    float:left;
    box-sizing: border-box;
}

.col-100 {
    width:100%;
}

.col-50 {
    width:50%;
}

.col-32 {
    width:32%;
    margin-left: 3px;
}

.article-image {
    width: 60px;
    margin: 0 10px 5px 25px;
}

.article {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    background: #fff;
    transition: transform 0.3s ease-in-out 0s;
}

.article:hover {
    transform: scale(1.1);
}

.image {
    width: 100%;
}

section article {
    margin-bottom: 5px;
    border: 1px;
    border-style: dashed;
    border-color: #EDDD34;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.map {
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px;
    border-style: dashed;
    border-color: #EDDD34;
    width: 97%;
    border-radius: 10px;
    overflow: hidden;
}

.row {
    margin: 0 -15px;
}

.row:before,
.row:after {
    content:'';
    display: table;
    clear: both;
}