/* Banner */

.banner {
    position: relative;
    color: #fff;
    text-shadow: 0 0 20px rgba(0,0,0,0.8);
    background: url("../img/banner.jpg") no-repeat center bottom / cover  ;
}

.banner:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    opacity: 0.4;
    background: -moz-linear-gradient(-45deg,  #0f7afd 0%, #34ae49 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #0f7afd 0%,#34ae49 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #0f7afd 0%,#34ae49 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f7afd', endColorstr='#34ae49',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.banner .container {
    position: relative;
    z-index: 2;
    height: calc(100vh - 70px);
}

.banner h1 {
    font-size: 52px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.banner p {
    font-size: 22px;
    line-height: 24px;
}
