/* Form */

.form label {
    font-size: 16px;
    line-height: 20px;
    color: #34ae49;
}

.form p {
    font-size: 14px;
    line-height: 18px;
    color: #666;
}

.form h2 {
    font-size: 20px;
    line-height: 24px;
    color: #555;
}

.form textarea::placeholder,
.form input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #9fc7f8;
}


.form textarea,
.form input:not(.buttom){
    display: block;
    width: 330px;
}