/* Header */

.header { 
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    position: relative;
    z-index: 3;
}

.logo {
    padding-top: 10px;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
}