.App {
 min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pull-right {
  display: flex;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: right;
}

.pull-left {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
  text-align: left;
}

.container {
  width: 100%;
  height: 600px;
  text-align: center;
}

footer {
  background-color: #282c34;
  min-height: 100px;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  width: 147px;
  margin-left: 2px;
  color: #61dafb;
  background-color: #282c34;
  border: 1px solid #61dafb;
}

.button:hover {
  width: 147px;
  margin-left: 2px;
  color: #282c34;
  background-color: #61dafb;
  border: 1px solid #61dafb;
}