.App {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eee;
}

.Container {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
}

.Banner {
    background-color: #ededed;
    min-height: 80px;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.CinzaEscuro {
    background-color: #282c34;
}

.Branco {
    background-color: #fff;
}

footer {
    background-color: #282c34;
    min-height: 20vh;
    color: #fff;
}