.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
}

