.Header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.Header a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Courier New', Courier, monospace;
}