.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards {
  float: left;
  width: 30%;
  height: 250px;
  padding: 5px;
  color: #efefef;
  background-color: #282c34;
  border : 1px solid #61dafb;
  box-shadow: 12px #282c34;
  border-radius: 10px;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
}

.Login {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(-180deg,#7CA5B8, rgb(237, 236, 255));
  box-shadow: 0 0px 10px rgb(169, 169, 194);
  border-radius: 5px;
}

.CaixaTexto {
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-bottom: 5px;

}

.Texto {
  color: #efefef;
}

.BtnLogin {
  margin-top: 10px;
  margin-left: 130px;
  box-sizing: border-box;
  background-color: #282c34;
  color: rgb(240, 240, 255);
  border-radius: 5px;
  box-shadow: 0 0 5px #282c34;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.BtnLogin:hover {
  box-shadow: 0 0 15px #38369A;
  text-shadow: 0 0 1px #aeaeae;
  transition-duration: 0.2s;
}
