.App {
  text-align: center;
}

.App-header {
  background: url('./pages/background.jpg') no-repeat center bottom / cover;
  min-height:90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  position: relative;
  text-shadow: 0 0 20px rgba(0,0,0,0.9);
}

.header {
  padding-left: 3%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 80px;
  text-shadow: 0 0 10px #efefef;
}

.Btn {
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  background-color: #efefef;
  color: #38369A;
  border-radius: 4px;
  box-shadow: 0 0 5px #282c34;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

a {
  color: #282c34;
  text-shadow: 0 0 15px #282c34;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.Btn:hover {
  box-shadow: 0 5px 20px #38369A;
  text-shadow: 0 0 1px #aeaeae;
  transition-duration: 0.2s;
}

.link {
  text-anchor: none;
  text-emphasis: none;
  text-decoration: none;
  color: #38369A;
  margin: 0;
  padding: 0;
  font-size: none;
  align-items: none;
  text-align: none;
  width: 0;
  height: 0;
}

.Login {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(-180deg,#7CA5B8, #38369A);
  box-shadow: 0 30px 30px #38369A;
  border-radius: 5px;
}

.Logout {
  margin-top: 10px;
  margin-left: 5px;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  background-color: #efefef;
  color: #38369A;
  border-radius: 4px;
  box-shadow: 0 0 5px #282c34;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.BtnLogin {
  margin-top: 10px;
  margin-left: 130px;
  box-sizing: border-box;
  background-color: #efefef;
  color: #38369A;
  border-radius: 5px;
  box-shadow: 0 0 5px #282c34;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.BtnLogin:hover {
  box-shadow: 0 0 15px #38369A;
  text-shadow: 0 0 1px #aeaeae;
  transition-duration: 0.2s;
}



.footer {
  background-image: linear-gradient(-180deg,#38369A, #282c34);
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: #efefef;
}

.Item {
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 40px;
  width: 300px;
  height: 100px;
  background-color: #efefef;
  color: #38369A;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 22px;
  border-radius: 5px;
  box-shadow: 0 0 10px #38369A;
  text-shadow: 0 0 1px #38369A;
  cursor: pointer;
}

.Item:hover {
  box-shadow: 0 0 15px #38369A;
  text-shadow: 0 0 2px #38369A;
  transition-duration: 6ms;
}


.Item p {
  font-size: 14px;
}

.Item h4 {
  margin-top: 20px;
  padding-top: 5px;
}

.Link {
  text-transform: uppercase;
  text-emphasis: none;
  text-align: center;
  text-decoration: none;
  text-decoration-style: none;
  text-anchor: none;
  text-underline-position: none;
}

.Maiusculas {
  text-transform: uppercase;
}

.Menu {
  margin-top: 0;
  align-items: center;
  text-align: center;
  flex-direction: row;
  display: flex;
}

.Input {
  margin-bottom: 10px;
}